In [1]:
def add2(x, y):
    n = x + y
    return n

In [2]:
hap = add2(30, 40)
print(hap)

70

In [4]:
def add3(x, y, z=5):
    n = x + y + z
    return n

In [7]:
a = add3(100, 200)
b = add3(100, 200, 300)
print(a)   
print(b)

305
600

## Correct expression : set from right to left<br/>
 def test(x, y, z=1)<br/>
 def test(x, y=2, z=1)<br/>
 def test(x=3, y=2, z=1)<br/>
<br/>
## Incorrect expression<br/>
 def test(x=3, y, z)<br/>
 def test(x=3, y, z=1)<br/>
 def test(x, y=2, z)<br/>
 def test(x=3, y=2, z)<br/>

In [8]:
def test(x, y, z=1):
    print(x)
    print(y)
    print(z)
    return 0

test(z=100, x=200, y=99)

200
99
100

0

In [11]:
def testreturn(x, y, z=1):
    print(x)
    print(y)
    print(z)
    return

a = testreturn(1, 2) 
print(a) # 중요

1
2
1
None

In [12]:
def testreturn(x, y, z=1):
    print(x)
    print(y)
    print(z)

a = testreturn(1, 2) 
print(a) # 중요

1
2
1
None

In [14]:
def add_mul(x ,y):
    s = x + y
    m = x  * y
    return s, m

a = add_mul(4, 5)
print(a)
print(type(a))

b, c = add_mul(4, 5)
print(b, c)
print(type(b), type(c)) # 중요

(9, 20)
<class 'tuple'>
9 20
<class 'int'> <class 'int'>

In [15]:
num1 = 10
num2 = 20

def add2(num1, num2):
    print(num1, num2)
    return(num1 + num2)

# add2(num1 = 30, num2 =40)도 동일
add2(30, 40)

print(num1, num2)

30 40
10 20

In [16]:
num1 = 10
num2 = 20

def add2(in1, in2):
    print(in1, in2)
    return(in1 + in2)

add2(30, 40)

print(num1, num2)

30 40
10 20

In [20]:
def test(*args): # * 는 임의의 파라미터를 따르므로 개수를 미리 지정안함(없어도 상관X)
    print(type(args))
    for item in args:
        print(item)
        
test()  # 중요
test(1)
test(1, 2, 3)

<class 'tuple'>
<class 'tuple'>
1
<class 'tuple'>
1
2
3

In [21]:
def test2(**x): # ** 는 임의의 key-value형태의 파라미터를 따르므로 개수를 미리 지정안함(없어도 상관X)
    print(type(x))
    for key in x:
        print(key, x[key])
    return

test2(a=1, b=2, c=3, d=4, name='kang')  # 중요

<class 'dict'>
a 1
b 2
c 3
d 4
name kang

In [26]:
def test2(**x): # ** 는 임의의 key-value형태의 파라미터를 따르므로 개수를 미리 지정안함(없어도 상관X)
    print(type(x))
    for key, value in x.items(): # items(): (key, value) 쌍을 복사한 튜플을 return
        print(key, value)
    return

test2(a=1, b=2, c=3, d=4, name='kang')  # 중요

<class 'dict'>
a 1
b 2
c 3
d 4
name kang

In [27]:
a = "온도 : {}, 습도 : {}%, 강수확률 : {}%".format(20, 90, 100)
print(a)

온도 : 20, 습도 : 90%, 강수확률 : 100%

In [29]:
a = "온도 : {temp}, 습도 : {humidity}%, 강수확률 : {rain}%".format(rain=100, humidity=90, temp=20)
print(a) # 중요

온도 : 20, 습도 : 90%, 강수확률 : 100%

## lambda function
 No function’s name, no ‘return’<br>
 Recommended in case of functionality being simple

In [32]:
def square(x):
    return(x**2)

square(5)

25

In [35]:
square2 = lambda x:x**2
print(square2(5))
print(type(square2))

25
<class 'function'>

In [36]:
add = lambda x,y : x+y
add(1, 2)

3

In [29]:
strings = ['bob', 'charles', 'alexander', 'teddy', 'jane']
strings.sort() # 중요
print(strings)

['alexander', 'bob', 'charles', 'jane', 'teddy']

In [40]:
def str_len(s):
    return len(s)

strings = ['bob', 'charles', 'alexander', 'teddy', 'jane']
strings.sort(key=str_len)
print(strings)

['bob', 'jane', 'teddy', 'charles', 'alexander']

In [30]:
strings = ['bob', 'charles', 'alexander', 'teddy', 'jane']
strings.sort(key=lambda s:len(s)) # 중요
print(strings)

['bob', 'jane', 'teddy', 'charles', 'alexander']

In [44]:
def even(n):
    return n%2==0

a = [10, 13, 2, 3, 8, 9, 17]
b = list(filter(even, a)) # 중요
print(b)

[10, 2, 8]

In [45]:
a = [10, 13, 2, 3, 8, 9, 17]
b = list(filter(lambda n:n%2==0, a)) # 중요
print(b)

[10, 2, 8]

In [46]:
a = [10, 13, 2, 3, 8, 9, 17]
b = list(map(lambda n:n%2==0, a)) # 중요
print(b)

[True, False, True, False, True, False, False]

In [49]:
a = [10, 13, 2, 3, 8, 9, 17]
b = list(map(lambda n:n**2, a)) # 중요
print(b)

[100, 169, 4, 9, 64, 81, 289]

In [52]:
import functools

a = [1, 2, 3, 4, 5]
b = functools.reduce(lambda x,y:x+y, a)
print(b)

15

[process details]<br>
(1) 1 and 2 are summed by the lambda function
-> [3,3,4,5]<br>
(2) 3 and 3 become 6
-> [6,4,5]<br>
(3) 6 and 4 become 10
-> [10,5]<br>
(4) 10 and 5 become 15

In [9]:
def mean(nums):
    _sum = 0
    for i in nums:
        _sum += i
    return(_sum/len(nums))

a = range(100)
b = mean(a)
print(b)

49.5

In [2]:
def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return(False)
    return(True)

print(is_prime(5))
print(is_prime(25))
print(is_prime(37))

True
False
True

In [19]:
def num_prime(num): # 중요
    count = 0
    for i in range(2, num+1):
        if is_prime(i):
            count += 1
    return(count)

print(num_prime(5))
print(num_prime(7))
print(num_prime(100))

3
4
25

# Module

In [20]:
import requests
resp = requests.get("http://inform.cbnu.ac.kr")
resp.text

'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\n<html xmlns="http://www.w3.org/1999/xhtml">\n<head>\n<meta http-equiv="X-UA-Compatible" content="IE=10, chrome=1">\n<meta http-equiv="content-type" content="text/html; charset=euc-kr">\n<TITLE>충북대학교 전자정보대학 정보통신공학부</TITLE>\n</head>\n<frameset rows="0%, 1*" border="0">\n<frame src="noframe.php" noresize scrolling="no" marginwidth="0" marginheight="0" name="noframe">\n<frame src="index.php" name="main">\n<noframes>\n<body bgcolor="white" text="black" link="blue" vlink="purple" alink="red">\n이 페이지를 보려면, 프레임을 볼 수 있는 브라우저가 필요합니다.\n</body>\n</noframes>\n</frameset>\n</html>\n'

In [21]:
sin(100)

NameError: name 'sin' is not defined

In [22]:
import math
math.sin(100)

-0.5063656411097588

In [23]:
from math import sin
sin(100)

-0.5063656411097588

In [24]:
from math import *
print(sin(100))
print(pi)
print(cos(100))
print(e)

-0.5063656411097588
3.141592653589793
0.8623188722876839
2.718281828459045

In [28]:
import math as m
print(m.cos(100))
print(m.sin(100))
print(m.pi)

0.8623188722876839
-0.5063656411097588
3.141592653589793